*.csv
*.stable
*.gathered
*.json
*.pkl
section-to-book-comparison-results-all-bertscore.parquet


#summac 
summac_conv_vitc_sent_perc_e.bin./booksum/alignments/paragraph-level-summary-alignments/chapter_summary_aligned_train_split.jsonl.gathered
./booksum/alignments/paragraph-level-summary-alignments/chapter_summary_aligned_train_split.jsonl.gathered.stable
./booksum/alignments/paragraph-level-summary-alignments/chapter_summary_aligned_train_split.jsonl.gatheredcopy.stable
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_book/fixed-book-comparison-results-all-bleusmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_book/fixed-book-comparison-results-all-meteorsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_book/fixed-book-comparison-results-all-rouge-2nsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_book/fixed-book-comparison-results-all-chrfsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_book/fixed-book-comparison-results-all-rouge-lsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_book/fixed-book-comparison-results-all-rouge-1nsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_section/fixed-section-comparison-results-all-rouge-2nsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_section/fixed-section-comparison-results-all-chrfsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_section/fixed-section-comparison-results-all-rouge-1nsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_section/fixed-section-comparison-results-all-bleusmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_section/fixed-section-comparison-results-all-rouge-lsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_section/fixed-section-comparison-results-all-meteorsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_section_to_book/fixed-section-to-book-comparison-results-all-rouge-2n-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_section_to_book/fixed-section-to-book-comparison-results-all-chrf-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_section_to_book/fixed-section-to-book-comparison-results-all-bleu-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_section_to_book/fixed-section-to-book-comparison-results-all-rouge-1n-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_section_to_book/fixed-section-to-book-comparison-results-all-rouge-l-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/fixed/line_by_line_section_to_book/fixed-section-to-book-comparison-results-all-meteor-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/adjusted/line_by_line_book/adjusted-book-comparison-results-all-meteorsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/adjusted/line_by_line_book/adjusted-book-comparison-results-all-chrfsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/adjusted/line_by_line_book/adjusted-book-comparison-results-all-rouge-1nsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/adjusted/line_by_line_book/adjusted-book-comparison-results-all-rouge-2nsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/adjusted/line_by_line_book/adjusted-book-comparison-results-all-rouge-lsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/adjusted/line_by_line_book/adjusted-book-comparison-results-all-bleusmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/adjusted/line_by_line_section/adjusted-section-comparison-results-all-rouge-1nsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/adjusted/line_by_line_section/adjusted-section-comparison-results-all-bleusmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/adjusted/line_by_line_section/adjusted-section-comparison-results-all-meteorsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/adjusted/line_by_line_section/adjusted-section-comparison-results-all-rouge-2nsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/adjusted/line_by_line_section/adjusted-section-comparison-results-all-chrfsmall-lbl.csv
./booksum/evaluation/csv_results/booksum_summaries/adjusted/line_by_line_section/adjusted-section-comparison-results-all-rouge-lsmall-lbl.csv
./.git/objects/pack/pack-bb7c2a03a14a58c68af460640cd7d271a878093a.pack
